<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Crypto Zippies</title>
  </head>
  <body>
    <h1>Crypto Zippies</h1>
    {{#if message2 }}
      <p>{{message2}}</p>
    {{else}}
      <p>No message yet.</p>
    {{/if}}

    <form action="/submit" method="post" accept-charset="utf-8">
      <textarea placeholder="Enter your student ID..."
        name="message" rows="10" cols="20"></textarea>
      <p><input type="submit" value="Set Cookie"></p>
    </form>

  </body>
</html>
