<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Crypto Zippies</title>
  </head>
  <body>
    <h1>Here's your zippies for Wallet: {{wal_id}}</h1>
    
    <img src="https://localh<Plug>(neocomplete_start_auto_complete)"
 


  </body>
</html>
