<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Crypto Zippies</title>
  </head>
  <body>
    <h1>Here's your zippies for Wallet: {{wal_id}}</h1>
    
    <img style="image-rendering: pixelated;" src="/static/{{zippy1}}.png" width="500" height="500">
    <img style="image-rendering: pixelated;" src="/static/{{zippy2}}.png" width="500" height="500">
 


  </body>
</html>
